@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply w-full 2xl:max-w-screen-xl mx-auto;
}

.chatui {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container {
  border: 1px solid white;
  border-radius: 1rem;
  width: 85%;
  height: 90%;
  display: flex;
  overflow: hidden;
}
.sidebar {
  background-color: #3c3b3b;
  flex: 1;
}

.rightside {
  flex: 2;
  display: flex;
  flex-direction: column;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fade-in-out {
  animation: fadeInOut 2s ease-in-out infinite;
}


.main-slider {
  /* padding: 0 10px !important; */
  
 }
 
 
 .main-slider .swiper-button-next,
 .main-slider .swiper-button-prev {
   @apply absolute bottom-0 bg-black text-white w-6 h-6 rounded-full hidden sm:flex items-center justify-center ;
 }
 
 .main-slider .swiper-button-next{
   /* margin-right: -2px; */
 }
 .main-slider .swiper-button-prev{
   margin-left: -10px;
 }
 
 
 .main-slider .swiper-button-next::after,
 .main-slider .swiper-button-prev::after {
   @apply text-xs font-bold;
 }