@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
}

.logo{
  font-family: Comic Sans MS;
  color: #d8b105;
  font-weight: bold;
}
.bee{
  font-family: sans-serif;
  color: #d8b105;
 
}