@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply w-full 2xl:w-[1450px] mx-auto;
}

.logo {
  font-family: Comic Sans MS;
  color: #2E4F6B;
  /* #649fbd; */
  font-weight: bold;
}

.bee {
  font-family: sans-serif;

  color: #e6537b ;
}

/* ... your existing styles ... */

/* Position Navbar at the bottom on small screens */
@media (max-width: 767px) {
  .myNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Adjust the z-index as needed */
  }

  .lg\:navbar {
    justify-content: space-between;
    /* Adjust alignment as needed */
    padding-top: 0.5rem;
    /* Add padding to the top for better visibility */
    padding-bottom: 0.5rem;
    /* Add padding to the bottom for spacing */
  }
}

/* ... more of your existing styles ... */

/* styles.css */

/* Global CSS FOR STORY */

.main-slider .swiper-button-next,
.main-slider .swiper-button-prev {
  @apply absolute bottom-0 bg-black text-white w-6 h-6 rounded-full hidden sm:flex items-center justify-center;
}

.main-slider .swiper-button-next {
  margin-right: -10px;
}

.main-slider .swiper-button-prev {
  margin-left: -10px;
}

.main-slider .swiper-button-next::after,
.main-slider .swiper-button-prev::after {
  @apply text-xs font-bold;
}


/* .my-container {
  @apply w-full 2xl:max-w-screen-xl mx-auto;
} */

.chatui {
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
}
.message-container {
  
  border: 1px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

}
.massage-sidebar {
  background-color: #3c3b3b;
  flex: 1;
}

.rightside {
  flex: 2;
  display: flex;
  flex-direction: column;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fade-in-out {
  animation: fadeInOut 2s ease-in-out infinite;
}



.link-item {
    
  transition-duration: 1000ms;
}

.show .link-item {
  
  opacity: 1;
}
.menu-icon {
  transition: transform 0.3s ease; /* Adjust the duration (0.3s) for the animation speed */
}


.placeholder-white::placeholder {
  color: white;
}

.name{
  font-family:Segoe Print;
}
/* body{
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  

} */
/* Dashboard  */

.btn-primary{
  background-color: #2E4F6B;
  opacity: .7;
  border-radius: 6px;
  border: 1px solid #2E4F6B;
  font-weight: bold;
  color: black;
}
.btn-primary:hover{
  background-color:#2E4F6B;
  /* #3e0eee95; */
  font-weight: bold;
  color: white;
  border: none;
  opacity: 1.0;
}
.search-primary{
background-color:#fafbfc7e;
}
.search-primary:hover{
background-color:#2E4F6B;
}

.active{
 border: 1px solid #feffff;
 background-color: #eaedf1 !important;
 
  border-radius: 10px;
}
.sideActive{
  border: 1px solid #feffff;
  background-color: #eaedf1 !important;
  border-radius: 8px;
 padding: 6px 0px;
}
