body.active-modal {
    overflow-y: hidden;
}

.btnModal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal {
    z-index: 999;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: #111;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    border-radius: 6px;
    /* width:30%; */
    /* min-width: 300px; */
    height: 80vh;
    object-fit: cover;
}

.modalContentLeftFirst {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    border-radius: 6px;
    height: 250px;
    width: 8%;
    opacity: .2;
}

.modalContentLeftSecond {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    border-radius: 6px;
    height: 370px;
    width: 11%;
    opacity: .4;
}

.modalContentRightFirst {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(50%, -50%);
    background: #f1f1f1;
    border-radius: 6px;
    height: 370px;
    width: 11%;
    opacity: .4;
}

.modalContentRightSecond {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translate(50%, -50%);
    background: #f1f1f1;
    border-radius: 6px;
    height: 250px;
    width: 8%;
    opacity: .2;
}

.closeModal {
    position: fixed;
    top: 28px;
    right: 28px;
    color: white;
}

/* 
.modalImage {
    animation: slideIn 0.5s ease-in-out;
} */

/* Define the animation */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply the animation to the modal image */
.modalImage {
    animation: slideIn 0.5s ease-in-out;
}